# ðŸ’» SQL Queries for Computer Equipment Pricing Dataset
This notebook contains useful SQL queries that can be used to explore and analyze the computer equipment pricing dataset.

In [1]:
import sqlite3
import pandas as pd

In [2]:

df = pd.read_csv('computer_equipment_prices.csv') 
# Coversion of Date Manufactured data type from object to datetime
df['Date Manufactured'] = pd.to_datetime(df['Date Manufactured'], errors='coerce')
# For product age in years
from datetime import datetime

today = pd.Timestamp.today()
df['Product Age (Years)'] = (today - df['Date Manufactured']).dt.days // 365
df.head()

# Create SQLite in-memory DB
conn = sqlite3.connect(':memory:')
df.to_sql('products', conn, index=False, if_exists='replace')

600

In [3]:
#Query 1 - Count of products by Brand
query1 = """
SELECT Brand, COUNT(*) AS Product_Count
FROM products
GROUP BY Brand
ORDER BY Product_Count DESC
"""
pd.read_sql_query(query1, conn)

              Brand  Product_Count
0          Kingston             39
1             Apple             35
2           TP-Link             34
3              ASUS             34
4               AMD             34
5           Netgear             32
6               MSI             32
7              Acer             32
8           Samsung             31
9              Dell             31
10               HP             29
11          Crucial             29
12          Corsair             29
13            Razer             28
14          Seagate             27
15            Intel             27
16  Western Digital             25
17      SteelSeries             24
18         Logitech             24
19           Lenovo             24

In [4]:
# Query 2 - Average price by Category
query2 = """
SELECT Category, ROUND(AVG([Price (USD)]), 2) AS Avg_Price
FROM products
GROUP BY Category
ORDER BY Avg_Price DESC
"""
pd.read_sql_query(query2, conn)

               Category  Avg_Price
0                Laptop    1656.68
1               Desktop    1440.05
2         Graphics Card    1244.18
3             Processor     602.20
4               Printer     562.97
5               Monitor     468.29
6           Motherboard     295.13
7                Router     279.16
8        Network Switch     278.63
9                   SSD     204.23
10                  RAM     202.80
11         Power Supply     179.52
12      Docking Station     177.45
13  External Hard Drive     167.48
14              Headset     161.91
15             Keyboard     115.24
16               Webcam      89.64
17                Mouse      83.25
18              USB Hub      57.13
19        Wi-Fi Adapter      30.93

In [5]:
#Query 3 - Top 5 suppliers with most stock
query3 = """
SELECT Supplier, SUM(Stock) AS Total_Stock
FROM products
GROUP BY Supplier
ORDER BY Total_Stock DESC
LIMIT 5
"""
pd.read_sql_query(query3, conn)

           Supplier  Total_Stock
0         TechWorld        35868
1  NextGen Hardware        30739
2       ComputeMart        30165
3        ITSupplies        28982
4       GadgetDepot        28013

In [6]:
# Query 4 - Oldest products (by year)
query4 = """
SELECT Brand, [Date Manufactured], [Product Age (Years)], [Price (USD)]
FROM products
ORDER BY [Product Age (Years)] DESC
LIMIT 5
"""
pd.read_sql_query(query4, conn)

     Brand    Date Manufactured  Product Age (Years)  Price (USD)
0  Seagate  2013-04-15 00:00:00                   12        67.40
1       HP  2013-02-17 00:00:00                   12      2357.12
2    Apple  2013-04-26 00:00:00                   12        69.44
3  Seagate  2013-01-21 00:00:00                   12       411.83
4  Crucial  2013-05-19 00:00:00                   12       389.18

In [7]:
# Query 5 - Count of products within different price ranges
query5 = """
SELECT 
  CASE 
    WHEN [Price (USD)] < 200 THEN 'Under $200'
    WHEN [Price (USD)] BETWEEN 200 AND 500 THEN '$200 - $500'
    WHEN [Price (USD)] BETWEEN 500 AND 1000 THEN '$500 - $1000'
    ELSE 'Over $1000'
  END AS Price_Range,
  COUNT(*) AS Count
FROM products
GROUP BY Price_Range
ORDER BY Count DESC
"""
pd.read_sql_query(query5, conn)

    Price_Range  Count
0    Under $200    278
1   $200 - $500    192
2    Over $1000     65
3  $500 - $1000     65

In [8]:
#Query 6 - Brands with average price above overall average
query6 = """
SELECT Brand, ROUND(AVG([Price (USD)]), 2) AS Avg_Price
FROM products
GROUP BY Brand
HAVING Avg_Price > (SELECT AVG([Price (USD)]) FROM products)
ORDER BY Avg_Price DESC
"""
pd.read_sql_query(query6, conn)

     Brand  Avg_Price
0  Corsair     662.40
1  Crucial     551.56
2     Dell     515.07
3  TP-Link     502.26
4     ASUS     480.42
5       HP     476.68
6   Lenovo     476.12
7      MSI     466.93
8    Intel     465.08

In [9]:
# Query 7: Category-wise stock and average price
query7 = """
SELECT 
  Category,
  SUM(Stock) AS Total_Stock,
  ROUND(AVG([Price (USD)]), 2) AS Avg_Price
FROM products
GROUP BY Category
ORDER BY Total_Stock DESC
"""
pd.read_sql_query(query7, conn)

               Category  Total_Stock  Avg_Price
0                Router         9190     279.16
1               USB Hub         9121      57.13
2              Keyboard         8861     115.24
3   External Hard Drive         8545     167.48
4               Monitor         8514     468.29
5       Docking Station         8245     177.45
6                 Mouse         8139      83.25
7               Desktop         8115    1440.05
8                   RAM         8035     202.80
9                Laptop         7722    1656.68
10          Motherboard         7714     295.13
11        Graphics Card         7667    1244.18
12            Processor         7511     602.20
13        Wi-Fi Adapter         7319      30.93
14              Printer         7307     562.97
15              Headset         6966     161.91
16               Webcam         6718      89.64
17                  SSD         6568     204.23
18       Network Switch         6457     278.63
19         Power Supply         5053     179.52

In [10]:
# Query 8: Correlation-like summary between product age and price
query8 = """
SELECT 
  [Product Age (Years)] AS Age,
  COUNT(*) AS Product_Count,
  ROUND(AVG([Price (USD)]), 2) AS Avg_Price
FROM products
GROUP BY Age
ORDER BY Age DESC
"""
pd.read_sql_query(query8, conn)

    Age  Product_Count  Avg_Price
0    12             25     439.75
1    11             51     508.80
2    10             65     328.96
3     9             65     428.34
4     8             61     406.75
5     7             53     495.71
6     6             47     352.64
7     5             55     385.35
8     4             44     393.65
9     3             59     410.29
10    2             49     554.56
11    1             26     290.62

In [11]:
# Query 9: Supplier-Category combo with average price
query9 = """
SELECT 
  Supplier,
  Category,
  ROUND(AVG([Price (USD)]), 2) AS Avg_Price,
  COUNT(*) AS Total_Products
FROM products
GROUP BY Supplier, Category
ORDER BY Avg_Price DESC
LIMIT 10
"""
pd.read_sql_query(query9, conn)

           Supplier       Category  Avg_Price  Total_Products
0       GadgetDepot         Laptop    1840.57               7
1         TechWorld         Laptop    1764.75               4
2         TechWorld  Graphics Card    1760.20               4
3       GadgetDepot  Graphics Card    1722.06               4
4        ITSupplies         Laptop    1646.35               5
5  NextGen Hardware        Desktop    1639.12               6
6        ITSupplies        Desktop    1627.73               4
7       ComputeMart         Laptop    1573.82               7
8  NextGen Hardware         Laptop    1535.82               9
9       GadgetDepot        Desktop    1533.51               5

In [12]:
# Find the top 3 most expensive products in each category using a window function
query10 = """
SELECT p.*
FROM products p
JOIN (
    SELECT Category, [Price (USD)],
           ROW_NUMBER() OVER (PARTITION BY Category ORDER BY [Price (USD)] DESC) AS rn
    FROM products
) ranked
ON p.Category = ranked.Category AND p.[Price (USD)] = ranked.[Price (USD)]
WHERE rn <= 3
ORDER BY Category, [Price (USD)] DESC
"""
pd.read_sql_query(query10, conn)

,Product ID,Category,Brand,Model,Price (USD),Stock,Supplier,Date Manufactured,Product Age (Years)
0,df1838bd-a775-4b5e-b460-3a3d4d577269,Desktop,ASUS,ASUS Desktop Model-7678,2483.08,99,GadgetDepot,2019-05-22 00:00:00,6
1,75c74d4f-ed6f-4036-91a5-c16568d7662f,Desktop,Lenovo,Lenovo Desktop Model-3844,2432.77,488,TechWorld,2022-04-28 00:00:00,3
2,c9456ac9-6ccc-45ed-96d4-91798af6e27e,Desktop,Corsair,Corsair Desktop Model-2322,2407.04,98,ITSupplies,2017-03-16 00:00:00,8
3,d5197d76-d01f-4895-9566-aaf24a6b897d,Docking Station,Kingston,Kingston Docking Station Model-6034,294.29,381,ITSupplies,2017-11-20 00:00:00,7
4,9a7bde8d-4af2-4f48-8453-b7f2131c1c1f,Docking Station,Kingston,Kingston Docking Station Model-6852,289.32,322,TechWorld,2014-11-01 00:00:00,10
5,76723393-a327-4899-9912-c4808de022e4,Docking Station,SteelSeries,SteelSeries Docking Station Model-6691,289.18,463,TechWorld,2022-12-09 00:00:00,2
6,5c0948bf-e306-4b17-963c-e7fb0a007b1e,External Hard Drive,Dell,Dell External Hard Drive Model-6062,298.93,208,GadgetDepot,2013-03-27 00:00:00,12
7,1fc5d2e3-77f9-4200-9dcd-446c61f65d14,External Hard Drive,Seagate,Seagate External Hard Drive Model-2386,285.14,178,NextGen Hardware,2015-11-29 00:00:00,9
8,9525e585-2e4e-45bd-8255-1b27f07f678f,External Hard Drive,Razer,Razer External Hard Drive Model-1725,276.70,60,ITSupplies,2022-06-27 00:00:00,2
9,00239cd4-66be-4e44-951e-d6f13c0e3e57,Graphics Card,TP-Link,TP-Link Graphics Card Model-1493,2407.92,17,TechWorld,2013-11-18 00:00:00,11
10,ba52bb86-8738-4c85-9f2f-2b31079bebeb,Graphics Card,HP,HP Graphics Card Model-1045,2357.12,255,NextGen Hardware,2013-02-17 00:00:00,12
11,987e852f-709c-4aa9-9d74-8723fd69cf22,Graphics Card,Kingston,Kingston Graphics Card Model-5571,2295.71,455,TechWorld,2016-01-24 00:00:00,9
12,3ed1fe8b-0cf5-44ae-b6a3-47e71a9c2567,Headset,Logitech,Logitech Headset Model-5177,295.87,260,ComputeMart,2023-12-08 00:00:00,1
13,8f903266-785d-47ed-a537-ce26a4043653,Headset,Netgear,Netgear Headset Model-2137,278.79,390,ITSupplies,2017-04-27 00:00:00,8
14,da8b10b5-6343-4f6b-bb36-0d834ca8ea65,Headset,Corsair,Corsair Headset Model-8858,268.80,393,NextGen Hardware,2019-11-15 00:00:00,5
15,79bd3988-1597-44fd-b50d-033b86c5eef2,Keyboard,Western Digital,Western Digital Keyboard Model-8764,198.12,310,ComputeMart,2020-02-24 00:00:00,5
16,a48057e0-1610-4615-b399-8cd8acb3c61e,Keyboard,SteelSeries,SteelSeries Keyboard Model-5657,195.20,436,ITSupplies,2013-06-19 00:00:00,11
17,990da5cb-a541-4a88-b297-9394ca7d991e,Keyboard,Razer,Razer Keyboard Model-4274,188.49,248,GadgetDepot,2021-07-02 00:00:00,3
18,00c4e4de-6f32-421e-a510-9d087443de72,Laptop,Corsair,Corsair Laptop Model-1565,2950.58,473,GadgetDepot,2016-05-13 00:00:00,9
19,31fc767f-2571-49e4-80f0-d9530ac34db0,Laptop,Apple,Apple Laptop Model-6881,2911.59,211,TechWorld,2022-09-29 00:00:00,2
20,18a4abf2-f7c2-4f73-8719-1b4c334cf318,Laptop,ASUS,ASUS Laptop Model-7279,2601.63,482,TechWorld,2023-01-23 00:00:00,2
21,adc98067-650f-426f-8664-2a041a9818b5,Monitor,TP-Link,TP-Link Monitor Model-1354,788.88,241,ComputeMart,2016-06-10 00:00:00,9
22,5235c7b2-98fc-4c4c-a1e5-62f5f832cd57,Monitor,Crucial,Crucial Monitor Model-5006,782.43,193,ComputeMart,2018-05-10 00:00:00,7
23,a7e339f7-b008-40e3-b300-a16feb7cbc67,Monitor,SteelSeries,SteelSeries Monitor Model-4517,764.83,71,GadgetDepot,2017-08-17 00:00:00,7
24,5fc90db8-27a1-4077-a629-95ff1b733d1e,Motherboard,Lenovo,Lenovo Motherboard Model-7841,464.09,2,ComputeMart,2015-06-30 00:00:00,9
25,345bcb77-8955-4751-80bb-f5f6de4e55ce,Motherboard,Apple,Apple Motherboard Model-4723,452.81,126,NextGen Hardware,2017-07-09 00:00:00,7
26,d5968d6c-121a-48e0-8f75-472506b19ba5,Motherboard,Netgear,Netgear Motherboard Model-2087,451.14,393,NextGen Hardware,2013-05-06 00:00:00,12
27,01d63194-54fe-46c3-8bcd-d1677a9a4a94,Mouse,Samsung,Samsung Mouse Model-6369,147.27,476,ITSupplies,2019-11-19 00:00:00,5
28,8018997f-6171-412f-8a55-63946c76ad44,Mouse,Netgear,Netgear Mouse Model-7803,144.10,474,GadgetDepot,2021-10-12 00:00:00,3
29,17d4d581-dfec-48a5-a915-18f19554c55d,Mouse,Apple,Apple Mouse Model-6240,132.73,97,ITSupplies,2014-03-11 00:00:00,11
30,8ec1e231-e53f-406a-954d-b0e9555e8b52,Network Switch,Crucial,Crucial Network Switch Model-7923,470.38,285,NextGen Hardware,2013-10-16 00:00:00,11
31,84490326-2f6e-438e-8e89-8ad973f2f8cd,Network Switch,Western Digital,Western Digital Network Switch Model-7810,450.25,15,ComputeMart,2020-08-01 00:00:00,4
32,5f1fb0f4-0177-42eb-930d-b0f56de5d6b0,Network Switch,Samsung,Samsung Network Switch Model-7958,445.14,77,GadgetDepot,2016-03-04 00:00:00,9
33,be5cdd57-ba81-4539-8f9b-65ffdb0cc460,Power Supply,MSI,MSI Power Supply Model-1516,295.96,72,TechWorld,2016-01-15 00:00:00,9
34,9dfc94de-20b1-44b1-986a-6cd53b825874,Power Supply,AMD,AMD Power Supply Model-4358,293.76,218,NextGen Hardware,2013-07-11 00:00:00,11
35,5ff7ef00-e1a2-4964-8c8d-fbe95c7f63ed,Power Supply,Acer,Acer Power Supply Model-8162,291.36,216,TechWorld,2013-09-16 00:00:00,11
36,ddfe8a3f-43e6-49cf-8660-a02ddf50c88d,Printer,Crucial,Crucial Printer Model-4792,999.58,86,NextGen Hardware,2015-05-24 00:00:00,10
37,13f58f61-f73a-4039-9152-28f0e1b657fa,Printer,Kingston,Kingston Printer Model-9982,949.63,377,NextGen Hardware,2016-05-29 00:00:00,9
38,596e679a-9eb3-47bb-bed7-dcb6d2a225f9,Printer,Kingston,Kingston Printer Model-1348,945.92,123,NextGen Hardware,2020-04-26 00:00:00,5
39,e97dacfa-b316-4444-9dad-24b23bf883f8,Processor,Samsung,Samsung Processor Model-8100,986.93,77,GadgetDepot,2022-04-05 00:00:00,3
40,505963d4-8fca-469a-9a74-90214664ebe5,Processor,Netgear,Netgear Processor Model-7344,948.95,379,TechWorld,2013-04-10 00:00:00,12
41,70f410c5-384a-44ff-a68e-bba1c3302b2a,Processor,Acer,Acer Processor Model-4522,919.61,492,NextGen Hardware,2018-04-16 00:00:00,7
42,e02e2119-af52-4bd3-bbf4-a707ea87e5c0,RAM,Acer,Acer RAM Model-4732,399.36,68,NextGen Hardware,2017-01-08 00:00:00,8
43,aa7b77d3-8e55-40fe-b36a-37113031f66c,RAM,Kingston,Kingston RAM Model-1313,396.58,288,ITSupplies,2015-12-27 00:00:00,9
44,6f2a8bc4-ce8d-4fa2-b693-b615afc81d26,RAM,HP,HP RAM Model-8192,383.44,251,NextGen Hardware,2016-03-05 00:00:00,9
45,d61f01c6-1e2e-4798-9200-058b3d78639a,Router,Razer,Razer Router Model-4063,487.68,121,NextGen Hardware,2018-03-05 00:00:00,7
46,5d353a6f-57ec-4aa2-b4d3-6074a63f90aa,Router,SteelSeries,SteelSeries Router Model-7078,446.93,416,ComputeMart,2021-01-20 00:00:00,4
47,e71dc1a8-8ee8-4a32-ab4c-add89ce7402a,Router,Seagate,Seagate Router Model-9085,441.00,255,ComputeMart,2022-12-01 00:00:00,2
48,e9178400-58e6-4ce4-b5cb-2d2863d235c1,SSD,Acer,Acer SSD Model-5906,381.70,0,ComputeMart,2017-08-19 00:00:00,7
49,0a71f41e-b7db-45d5-ba4f-93ba09397254,SSD,Kingston,Kingston SSD Model-7976,361.16,375,ITSupplies,2013-04-12 00:00:00,12
50,e568e7bf-ceb2-47ec-9419-809155686e99,SSD,Western Digital,Western Digital SSD Model-4972,346.68,204,ComputeMart,2020-11-22 00:00:00,4
51,8f0e4149-fda1-4b8c-aad4-11481b79417d,USB Hub,AMD,AMD USB Hub Model-2245,99.46,83,ComputeMart,2015-01-12 00:00:00,10
52,9ac48f79-3ba5-4efe-b241-bf621a293343,USB Hub,AMD,AMD USB Hub Model-9708,96.73,334,ITSupplies,2023-02-16 00:00:00,2
53,7d916006-d17b-4c8f-a0d9-9c11c3d133c2,USB Hub,Kingston,Kingston USB Hub Model-2538,95.71,364,TechWorld,2014-08-17 00:00:00,10
54,c84a6f63-90a2-4fe8-bc10-85a4c23347f3,Webcam,Netgear,Netgear Webcam Model-7723,188.07,442,GadgetDepot,2021-01-21 00:00:00,4
55,cde363fd-39d1-49da-9c82-94f8e61b354f,Webcam,SteelSeries,SteelSeries Webcam Model-6662,166.79,399,NextGen Hardware,2013-04-20 00:00:00,12
56,39a79d4c-4957-412d-88bd-6acd7eb8ba57,Webcam,Western Digital,Western Digital Webcam Model-5741,153.50,241,GadgetDepot,2017-04-01 00:00:00,8
57,de64cd27-508d-49e4-b797-bafcfa418982,Wi-Fi Adapter,Lenovo,Lenovo Wi-Fi Adapter Model-4909,49.72,428,NextGen Hardware,2023-02-12 00:00:00,2
58,0bae42c9-c586-408d-8f11-b6deeb0a8776,Wi-Fi Adapter,Samsung,Samsung Wi-Fi Adapter Model-7425,49.60,364,TechWorld,2014-12-14 00:00:00,10
59,278e6a63-78fa-4988-82c6-b68d13bd47d0,Wi-Fi Adapter,HP,HP Wi-Fi Adapter Model-8693,48.62,284,ComputeMart,2017-03-24 00:00:00,8

In [13]:
# Query 11: Brands with below-average pricing but above-average stock
query11 = """
SELECT Brand,
       ROUND(AVG([Price (USD)]), 2) AS Avg_Price,
       ROUND(AVG(Stock), 2) AS Avg_Stock
FROM products
GROUP BY Brand
HAVING Avg_Price < (SELECT AVG([Price (USD)]) FROM products)
   AND Avg_Stock > (SELECT AVG(Stock) FROM products)
ORDER BY Avg_Stock DESC
"""
pd.read_sql_query(query11, conn)

             Brand  Avg_Price  Avg_Stock
0          Seagate     358.07     316.26
1              AMD     290.91     288.59
2      SteelSeries     301.76     278.13
3         Kingston     362.46     276.87
4         Logitech     273.77     268.83
5          Samsung     376.74     258.00
6  Western Digital     379.33     257.28

In [14]:
# Query 12: Most diverse suppliers (offering most distinct categories)
query12 = """
SELECT Supplier,
       COUNT(DISTINCT Category) AS Distinct_Categories,
       COUNT(*) AS Total_Products
FROM products
GROUP BY Supplier
ORDER BY Distinct_Categories DESC
LIMIT 5
"""
pd.read_sql_query(query12, conn)

           Supplier  Distinct_Categories  Total_Products
0         TechWorld                   20             134
1  NextGen Hardware                   20             116
2        ITSupplies                   20             120
3       GadgetDepot                   20             112
4       ComputeMart                   19             118